body {
  min-height: 2000px;
  padding-top: 0px;
  font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
  
}

.navbar-nav li a{font-size:16px;}